@import "tailwindcss";

@plugin "daisyui";

.container {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 auto;

  width: 1440px;
}

.defaultBorder {
  border: 1px solid slateblue;
  border-radius: 1rem;
}
